/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  font-family: 'Righteous', cursive;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(212, 212, 212);
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  width: 40%;
  background-image: linear-gradient(rgba(133, 141, 255, 0.95) 0%, rgba(0, 0, 0, 0.5) 50%);
  border: solid 4.5px rgba(145, 145, 255, 0.75);
  font-size: 36px;
  border-bottom: none;
  padding: 3.5px 0;
  border-top-left-radius: 4.5vh;
  border-top-right-radius: 4.5vh;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: rgb(56, 68, 245);
}

h3 {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(125, 135, 255);
}

.app-container {
  color: white;
  position: relative;
  z-index: 10;
}

.app-container .sub-header {
  background-image: linear-gradient(rgba(133, 141, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 80%, rgba(133, 141, 255, 0.5) 100%);
}

.bg-dark-gradient {
  background-image: linear-gradient(rgba(133, 141, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 12.5%, rgba(0, 0, 0, 0.5) 90%, rgba(133, 141, 255, 0.5) 100%);
  border-radius: 0.5vh;
  border: solid 5px rgba(145, 145, 255, 0.5);
}

input {
  background-image: linear-gradient(rgba(133, 141, 255, 0.75) 0%, rgba(0, 0, 0) 20%, rgba(0, 0, 0) 80%, rgba(133, 141, 255, 0.75) 100%);
  color: white;
  color-scheme: dark;
}

button {
  color: white;
  background-image: linear-gradient(rgba(133, 141, 255, 0.95) 0%, rgba(0, 0, 0) 50%, rgba(133, 141, 255, 0.95) 100%);
  border: solid 3px rgba(145, 145, 255, 0.5);
  border-radius: 1vh;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1.5px 1.5px 0 rgba(162, 164, 255, 0.9),
  inset -1.5px -1.5px 0 rgba(20, 0, 68, 0.5);
}

button:hover {
  background-image: linear-gradient(rgba(133, 141, 255, 0.75) 0%, rgba(0, 0, 0) 50%, rgba(133, 141, 255, 0.75) 100%);
}

button:active {
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset -1.5px -1.5px 0 rgba(162, 164, 255, 0.9),
  inset 1.5px 1.5px 0 rgba(20, 0, 68, 0.5);
  transition: 0.2s;
}

.content-desc {
  font-size: 22px;
}

.nasa-img {
  height: 100%;
  position: static;
}

.text-scroll {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-animate {
  -webkit-mask-image: linear-gradient(to right, transparent 47.5%, #000 52.5%);
  -webkit-mask-size: 210%;
  animation: 1.5s linear both wipe-move;
}

@keyframes wipe-move {
  to {
    -webkit-mask-position: 100%;
  }
}

.screen-half {
  height: 70vh;
}

.bs-dark {
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset -1.5px -1.5px 0 rgba(162, 164, 255, 0.9),
  inset 1.5px 1.5px 0 rgba(20, 0, 68, 0.5);
}

.ts-blue {
  text-shadow: 1px 1px 0 #9481ff;
}

/* ------------------------ */
/* ANIMATED STAR BACKGROUND */
/* ------------------------ */
.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 150s linear infinite;
}
img{
  height: 80vh;
  width: 80vh;
  position: absolute;
  z-index: 3;
  left: -380px;
  top: -200px
}

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}